.Hero{
    background-color: aliceblue;
}
h2{
    color: green;
}
nav{
    display: flex;
    align-items: center;
    padding-right: 500px;

}
button{
    margin: 50px;
    background-color: green;

}
p button{
    background-color: green;
}